/* Add CSS styles here */
.state {
    fill: white;
    stroke: grey;
    stroke-width: 1px;
    stroke-linecap: round;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background:rgb(133, 243, 133);
}